@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

@layer base {
    html {
        font-family: 'Plus Jakarta Display', sans-serif;
    }
}

::-webkit-scrollbar{
    display: none;
}

.container{
    max-width: 1140px;
}